@mixin transition($args) {
  @include vendor-prefixes(transition, $args);
  transition: $args;
}

@mixin transform($val-args) {
  @include vendor-prefixes(transform, $val-args);
  transform: $val-args;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}


