@include respond-to(ultra-high-definition) {
  .myprofile-pannel{
		font-size: 3.5rem;
		 span {
			font-size: 2.8rem;
		}
		.details {
			font-size: 2.8rem;
		}
		ul li {
			margin-right: -10px;
		}
	}
	.customer-service{
		p{
			font-size:2.8rem;
		}
		.customer-service-detail{
			font-size:3.5rem;
			span{
				font-size:3.5rem;
			}
			li{
				margin-right:0;
				ul li{
					margin-right: -8px;
				}
				.title{
					font-size:2.8rem;
				}
			}
		}
	}
	.customer-service-detail{
		.form-input{
			font-size:2.8rem;
		}
		.form-label{
			font-size:2.8rem;
		}
	}
	.customer-thankyou{
		font-size: 2.8rem;
		img{
			margin-bottom: 2vh;
		}
		h3{
			font-size: 4rem;
		}
	}
	
	.option-select{
		font-size: 70%;
		li{
			a{
				font-size:4.3rem;
			}
		}
	}
	.program-guide-select li a {
		font-size: 3.5rem;
	}
	.program-guide-select img{
		max-width:100% !important;
	}
	.program-guide-list > li {
		font-size: 3.5rem;
	}
	.order-history-list > li ul li{
		font-size: 3.2rem;
	}
	.order-history-list > li .focus-event:focus ~ ul li {
		font-size: 3.7rem !important;
	}
	.customer-term-condition p{
		font-size: 3rem;
	}
  
}
