@include respond-to(full-high-definition) {
 .myprofile-pannel{
		font-size: 2rem;
		 span {
			font-size: 1.7rem;
		}
		.details {
			font-size: 1.7rem;
		}
	}
	.customer-service{
		p{
			font-size:1.63rem;
		}
		.customer-service-detail{
			font-size:2rem;
			span{
				font-size:2rem;
			}
			li{
				.title{
					font-size:1.63rem;
				}
			}
		}
	}
	.customer-service-detail{
		.form-input{
			width:40%;
			font-size:1.63rem;
		}
		.form-label{
			font-size:1.63rem;
		}
	}
	.customer-thankyou{
		font-size: 1.9rem;
		h3{
			font-size: 2rem;
		}
	}
	.option-select{
		font-size: 70%;
		li{
			a{
				font-size:2.9rem;
			}
		}
	}
	.program-guide-select li a{
		font-size: 2.13rem;
		min-height: 50px;
	}
	.program-guide-list > li {	
		font-size: 1.9rem;
	}
	.program-guide-select img{
		max-width:100% !important;
	}
	.onoffswitch {
		width: 95px;
	}
	.onoffswitch-switch {
		right: 60px;
	}
	.order-history-list > li ul li{
		font-size: 1.9rem;
	}
	.order-history-list > li .focus-event:focus ~ ul li {
		font-size: 2.2rem !important;
	}
	.customer-term-condition p{
		font-size: 1.7rem;
	}
	.customer-service-form{
		.form-input{
			font-size:2.1rem;
			line-height:2;
		}
		.form-label{
			font-size:1.7rem;
		}
	}
  
}

