.popup-terms {
  .accept-content {
    &:before {
      background-image: url('../images/hd/acceptborder.png');
      min-height: 9px;
    }

  }
}

.header-logo {
  background-image: url('../images/hd/logo.png');
  width: 108px;
  height: 62px;
}

.home-body {
  background: url("../images/hd/background.jpg");
  background-repeat: no-repeat;

}

body {
  background-image: url('../images/hd/background.jpg');
  background-repeat: no-repeat;

}

.left-panel {
  .option {
    &:before {
      background-image: url('../images/hd/option.png');
      width: 18px;
      height: 18px;
    }
  }
  .video-content {
    min-height: 490px;
  }
  .login-icon {
    &::before {
      background-image: url('../images/hd/login-icon.png');
      width: 24px;
      height: 24px;
    }
  }
}

.right-panel {
  background-image: url('../images/hd/backgroundlogin.png');
}

.header-top-form {
  &:after {
    content: '';
    background-image: url(../images/fullhd/email-border.png) no-repeat left bottom;
  }
}

.logged-in {
  .customer-name {
    &::before {
      background-image: url("../images/hd/profile.png");
      min-height: 64px;

    }
  }
}

#menu {
  li {
    &:first-child {
      margin-right: 69px;
    }
  }
}

.address-details {
  .shipping-address {
    &::before {
      background-image: url('../images/hd/shipping-img.png');
      width: 49px;
      height: 34px;
    }
    &::after {
      background-image: url('../images/fullhd/shippingdrop.png');
      width: 17px;
      height: 9px;
    }
  }
  .billing-addres {
    &::before {
      background-image: url('../images/hd/billing-img.png');
      width: 49px;
      height: 34px;
    }
    &::after {
      background-image: url('../images/fullhd/shippingdrop.png');
      width: 17px;
      height: 9px;
    }
  }
  .shipping-method {
    &::before {
      background-image: url('../images/hd/shippingmethod.png');
      width: 49px;
      height: 34px;
    }
    &::after {
      background-image: url('../images/fullhd/shippingdrop.png');
      width: 17px;
      height: 9px;
    }
  }
}

.footer {
  background-image: url('../images/hd/footer.png');
  a {
    &::before {
      background-image: url("../images/hd/cart.png");
      height: 52px;
      width: 41px;

    }
  }
}

.cart-quantity {
  min-height: 37px;

}

.small-video-content {
  background-image: url("../images/hd/backgroundvideo.png");
  width: 521px;
  height: 317px;
}

.popup-login, .popup-shipping {
  .popup-alert {
    &::before {
      background: url(../images/hd/alert.png) no-repeat left bottom;
      width: 61px;
      min-height: 61px;
    }
  }
  .popup-loading {
    &::before {
      background: url(../images/fullhd/loading.gif) no-repeat left bottom;
      width: 60px;
      min-height: 60px;
    }
  }
}

.popup-terms .terms-content p {
  max-height: 308px;
}

.popup-terms .terms-content:after {
  border-top: solid 7px #a9a9a9;
  border-left: solid 7px transparent;
  border-right: solid 7px transparent;
}

.middle-content a {
  background-image: url("../images/hd/dropdown.png");
  background-position: 16.24vw 2vh;
}

.product-quantity .minus-icon {
  background-image: url("../images/hd/minus.png");

}

.product-quantity .plus-icon {
  background-image: url("../images/hd/plus.png");

}

.header-top-form {
  background: url(../images/hd/email-border.png) no-repeat left bottom;
  content: '';
}

.remove-coupon, .remove-credit {
  background-image: url("../images/hd/removecoupon.png");

}
