<div class="option-select">
	<section>
		<div navigatable-with-keyboard tag="popUp" tabindex="0"></div>
			<div class="howtobuy budget-pay-popup" >
				<h3>
					<i class="icon-style">
						 <svg class="menu-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30.844 31">
						  <path id="ic_info_howtobuy.svg" class="violet-icon" d="M181.381,785.645a0.626,0.626,0,0,1-.462.182h-9a0.62,0.62,0,0,1-.642-0.646v-3.229a0.618,0.618,0,0,1,.642-0.645h1.928v-6.458h-1.928a0.62,0.62,0,0,1-.642-0.646v-3.229a0.62,0.62,0,0,1,.642-0.646h6.426a0.62,0.62,0,0,1,.642.646v10.333h1.928a0.625,0.625,0,0,1,.462.181,0.632,0.632,0,0,1,.181.464v3.229A0.631,0.631,0,0,1,181.381,785.645Zm-2.57-18.082a0.626,0.626,0,0,1-.462.182h-3.856a0.621,0.621,0,0,1-.642-0.646V763.87a0.621,0.621,0,0,1,.642-0.646h3.856a0.62,0.62,0,0,1,.642.646V767.1A0.63,0.63,0,0,1,178.811,767.563Zm5.351-5.489a15.451,15.451,0,0,0-15.482,0,15.4,15.4,0,0,0-5.612,5.641,15.667,15.667,0,0,0,0,15.559,15.4,15.4,0,0,0,5.612,5.641,15.457,15.457,0,0,0,15.482,0,15.4,15.4,0,0,0,5.612-5.641,15.667,15.667,0,0,0,0-15.559A15.4,15.4,0,0,0,184.162,762.074Z" transform="translate(-161 -760)"/>
						</svg>
					</i>Budget pay
				</h3>
				<div class="budgetpay-content">
					<h4>What is BudgetPay?</h4>
					<p>
						BudgetPay is a payment option that allows you to spread the total
						cost of an item into three installments at no additional charge,
						making shopping for Exceptional Quality, Exquisite Designs, and
						Outstanding value even more convenient!
					</p>

					<h4>Why is the first BudgetPay payment installment higher than
						the other 2 payments?</h4>
					<p>The price of the item will be divided into three equal
						payments. The first payment will include all Shipping &amp;
						Handling and taxes. Your first payment will always be higher than
						the remaining two payments because of the additional charges for
						Shipping &amp; Handling and taxes.</p>

					<h4>When are payment installments due?</h4>
					<p>The first payment will be charged to your selected method of
						payment on the day your order is placed. The second payment will
						be charged to the same selected method of payment 30 days after
						the day your order is placed, and the third and final payment will
						be processed 60 days after the day your order is placed.</p>

					<h4>How can I pay the balance of remaining installments?</h4>
					<p>Once your order has shipped, you can pay the total remaining
						installment balance anytime by contacting our Customer Service
						Department at <strong>{{customerCareNumber}}</strong> Please have your invoice
						and order numbers with you to expedite your request.</p>
				</div>	
		

</div>

	</section>
</div>