
<div class="popup-shadow custom-visa-outer">
	<div class="visa-card-payment">
		<div class="leftpart">
			<h3>
				{{userName}} <span>Visa Ending {{card}}</span>
			</h3>

			<form method="post" action="#" class="visa-payment-form">
				<div class="form-field">
					<div class="tab-content {{alertErrorInput}}">
						<label for="username" class="form-label">Enter CVV /
							Security Number <span class="red-text">*</span>
						</label> <span class="hide">{{inputError}}</span> <a tabindex="0"
							class="div-focus" ng-click="opneKeyBoard()"
							navigatable-with-keyboard tag="cvv" down="next"
							href="javascript:void(0)"> <input type="password"
							class="form-input" ng-model="cvv" ng-change="savecvv(cvv)"
							ng-min="min" ng-max="max" maxlength="4"
							placeholder="Please enter CVV / Security number"
							onfocus="this.placeholder = ''"
							onblur="this.placeholder = 'Please enter CVV / Security number'" />
						</a>
					</div>
					<button type="button" navigatable-with-keyboard tag="cvv" up="prev"
						class="btn" ng-click="dialogClose('submit')">Submit</button>
				</div>
			</form>
		</div>
		<div class="rightpart">
			<h3>What is CVV / Security number?</h3>
			<div class="cvvimage">
				<img src="images/common/cvv.png" alt="cvv image">
			</div>
			<p>The CVV / Security Number ("Card Verification Value") on your
				credit card or debit card is a 3 digit number on VISA®, MasterCard®
				and Discover® branded credit and debit cards. On your American
				Express® branded credit or debit card it is a 4 digit numeric code.</p>
		</div>
	</div>
</div>