<div class="forget-screen">
	<h3>FORGOT PIN</h3>
	<p>Enter your registered email address to get your PIN</p>
	<form action="#" method="post">
		<div class="form-field {{alertErrorInput}}">
			<label class="form-label">Email <span class="red-text">*</span></label> <span class="hide">{{emailError}}</span>
			<a href="javascript:void(0)" navigatable-with-keyboard tag="forget"
				ng-click="opneKeyBoard()" id="forgetEmail" left="video.videoView"
				down="next" tabindex="0" class="div-focus"> <input
				class="form-input" type="text" ng-model="forgetEmailID" placeholder="Please enter email " onfocus="this.placeholder = ''"
						onblur="this.placeholder = 'Please enter email'"
				ng-change="changeEmail(forgetEmailID)" />
			</a>
		</div>
		<button type="button" class="btn" ng-click="submit()" up="prev"
			left="video.videoView" navigatable-with-keyboard tag="forget">Submit</button>
	</form>
	
	<span class="customer-number address-number">
			
If you dont have email id registered <br>
contact customer service at <span> 0344 375 2525 option 3</span>		
		</span> 

</div>