<div class="forget-screen forget-pin">
	<p>
			<svg class="pin-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 82.19 62.969">
			  <path id="ic_tick_forgot.svg" class="violet-icon" d="M1564.82,190.161l-7.21-7.21a5.121,5.121,0,0,0-7.21,0l-34.77,34.83-15.59-15.639a5.121,5.121,0,0,0-7.21,0l-7.21,7.21a5.131,5.131,0,0,0,0,7.21l19.19,19.19,7.21,7.21a5.121,5.121,0,0,0,7.21,0l7.21-7.21,38.38-38.381a5.106,5.106,0,0,0,0-7.21h0Z" transform="translate(-1484.12 -181.469)"/>
			</svg>
		<br> <br> Password reset instructions have been sent to your
		e-mail address. Please contact customer support at <span>0344 375 2525 option 3</span> if
		you require additional assistance.
	</p>
	<button type="button" class="btn btn-center" ng-click="switchPage()" tabindex="0"
		left="video.videoView" navigatable-with-keyboard tag="forget">LOGIN</button>
</div>