<div class="option-select">
	<section>
		<div navigatable-with-keyboard tag="popUp" tabindex="0">
			
		</div>
		<div class="howtobuy">
		<h3><i class="icon-style">
						 <svg class="menu-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30.844 31">
						  <path id="ic_info_howtobuy.svg" class="violet-icon" d="M181.381,785.645a0.626,0.626,0,0,1-.462.182h-9a0.62,0.62,0,0,1-.642-0.646v-3.229a0.618,0.618,0,0,1,.642-0.645h1.928v-6.458h-1.928a0.62,0.62,0,0,1-.642-0.646v-3.229a0.62,0.62,0,0,1,.642-0.646h6.426a0.62,0.62,0,0,1,.642.646v10.333h1.928a0.625,0.625,0,0,1,.462.181,0.632,0.632,0,0,1,.181.464v3.229A0.631,0.631,0,0,1,181.381,785.645Zm-2.57-18.082a0.626,0.626,0,0,1-.462.182h-3.856a0.621,0.621,0,0,1-.642-0.646V763.87a0.621,0.621,0,0,1,.642-0.646h3.856a0.62,0.62,0,0,1,.642.646V767.1A0.63,0.63,0,0,1,178.811,767.563Zm5.351-5.489a15.451,15.451,0,0,0-15.482,0,15.4,15.4,0,0,0-5.612,5.641,15.667,15.667,0,0,0,0,15.559,15.4,15.4,0,0,0,5.612,5.641,15.457,15.457,0,0,0,15.482,0,15.4,15.4,0,0,0,5.612-5.641,15.667,15.667,0,0,0,0-15.559A15.4,15.4,0,0,0,184.162,762.074Z" transform="translate(-161 -760)"/>
						</svg>
					</i>
					How to buy</h3>
		<ul class="howtobuy-content">
			<li>
				<span class="howtobuysteps">Step 1 : </span> <span class="howtobuydesc">
				Enter valid phone number, select option/Qty &amp; click order now.
			</li>
			<li>
				<span class="howtobuysteps">Step 2 : </span> <span class="howtobuydesc">Now you need to sign in or register to order product.
			</li>
			<li>
				<span class="howtobuysteps">Step 3 : </span> <span class="howtobuydesc">If you are not a registered user call 
					<strong>{{customerCareNumber}}</strong> to setup your account.
			</li>
			<li>
				<span class="howtobuysteps">Step 4 : </span> <span class="howtobuydesc">For registered user : Confirm shipping/billing 
					address and shipping method and click continue on address screen.
			</li>
			<li>
				<span class="howtobuysteps">Step 5 : </span> <span class="howtobuydesc">To edit quantity you can click on Item in bag on address screen and update.
			</li>
			<li>
				<span class="howtobuysteps">Step 6 : </span> <span class="howtobuydesc">Check total amount and price breakup and click continue on order screen.
			</li>
			<li>
				<span class="howtobuysteps">Step 7 : </span> <span class="howtobuydesc">Confirm card details &amp; click pay now button on payment screen.
			</li>	
			<li>
				<span class="howtobuysteps">Step 8 : </span> <span class="howtobuydesc">Enter CVV and click confirm to complete the transaction.
			</li>
		</ul>
		</div>

	</section>
</div>