
<div class="myprofile-pannel">
	<section>
		<h2>My Profile</h2>
		<div class="profile-content">
			<p>
				{{userName}} <br> {{userPhn}} <br> {{userEmail}}
			</p>
			<address>
				<span>DELIVERY ADDRESS</span>
				<address class="sub-address shipping-address">{{shippingAddress}}</address>
			</address>
			<address>
				<span>BILLING ADDRESS</span>
				<address class="sub-address">{{billingAddress}}</address>
			</address>
			<ul class="default-method">
				<li><span>DEFAULT PAYMENT</span>
					<address>{{defaultCard}}</address></li>
				<li><span>PREFERED DELIVERY METHOD</span>
					<address>{{shippingMethod.shippingMethodName}}</address></li>
			</ul>
			<p class="details">
				To update your account details, call our Customer Service on <br>
				{{customerCareNumber}} or login in online at {{websiteName}}
			</p>
		</div>

	</section>
</div>