	<div class="myprofile-pannel">
        <section>
			<header>
				<ul class="topnav">
					<li><a href="javascript:void(0)"><img src="../../lc/images/ultrahd/option.png" alt="Options"> Options</a></li>
					<li><a href="javascript:void(0)"><!--<img src="../../../icon.png" alt="User Name">--> John Amorth</a></li>
				</ul>
				
				<h2>My Order</h2>
			</header>
			<div class="order-history">
				<ul class="order-history-list">
					<li class="head">
						<ul>
							<li><span>Order Number</span></li>
							<li><span>Order Status</span></li>
							<li><span>Date Placed</span></li>
						</ul>
					</li>
					<li>
						<a href="javascript:void(0)" class="focus-event">0005991036</a>
						<ul>
							<li>0005991036</li>
							<li>Placed</li>
							<li>10/13/2016   12:59PM</li>
						</ul>
					</li>
					<li>
						<a href="javascript:void(0)" class="focus-event">0005991036</a>
						<ul>
							<li>0005991036</li>
							<li>Delivered</li>
							<li>10/13/2016   12:59PM</li>
						</ul>
					</li>
					<li>
						<a href="javascript:void(0)" class="focus-event">0005991036</a>
						<ul>
							<li>0005991036</li>
							<li>Delivered</li>
							<li>10/13/2016   12:59PM</li>
						</ul>
					</li>
					<li>
						<a href="javascript:void(0)" class="focus-event">0005991036</a>
						<ul>
							<li>0005991036</li>
							<li>Delivered</li>
							<li>10/13/2016   12:59PM</li>
						</ul>
					</li>
				</ul>
			</div>
		</section>
		<footer>
			<p class="details">If you wish to see older orders, please log in to<br> your account online at <span class="green-text">www.liquidationchannel.com</span></p>
		</footer>
    </div>