<div class="block-screen">
	<p class="red-text">
		<svg class="block-icon" xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 86 92" preserveAspectRatio="xMidYMid meet" width="86"
			height="92">
                        <path class="block-icon-style"
				d="M 2 90 L 2 76 C 2 76 4.822 70.291 10.312 66.067 C 17.572 60.483 28 56 28 56 L 28 41 L 24 36 L 24 14 C 24 14 24.593 9.407 27.137 6.863 C 29.591 4.409 34 3 34 3 C 34 3 38.723 2 42.577 2 C 46.713 2 52 3 52 3 C 52 3 56.563 5.204 58.788 7.985 C 60.493 10.117 60 14 60 14 L 60 36 L 57 41 L 57 56 C 57 56 68.209 60.711 75.87 66.294 C 81.328 70.271 84 75.676 84 75.676 L 84 89.85" />
                    </svg>
		<br> <br> Your account has been blocked. Please contact our
		Customer Service on<br> <br> <span class="green-text">
			{{customerCareNumber}}</span>
	</p>
	<button type="button" class="btn" ng-click="continueWatching()"
		left="video.videoView" navigatable-with-keyboard tag="inActive"
		tabindex="0">CONTINUE WATCHING</button>
</div>