<div class="eligible-screen">
<div class="eligible-upper">
<svg xmlns="http://www.w3.org/2000/svg" class="eligible-icon" viewBox="0 0 86 92">
  <defs>
    <style>
      .cls-1 {
        fill: #c20000;
        fill-opacity: 0;
        stroke: #7b99ae;
        stroke-width: 4px;
        fill-rule: evenodd;
      }
    </style>
  </defs>
  <path id="ic_blocked.svg" class="cls-1" d="M859,728V714a31.953,31.953,0,0,1,8.312-9.933C874.572,698.483,885,694,885,694V679l-4-5V652s0.593-4.593,3.138-7.138C886.591,642.409,891,641,891,641a49.637,49.637,0,0,1,8.577-1A61.409,61.409,0,0,1,909,641s4.563,2.2,6.788,4.985C917.493,648.117,917,652,917,652v22l-3,5v15s11.209,4.711,18.87,10.294a28.842,28.842,0,0,1,8.13,9.382V727.85" transform="translate(-857 -638)"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg"  class="tick" viewBox="0 0 30 23">

  <path id="ic_tick_blocked.svg" d="M792.547,731L783,721.387l2.386-2.4,7.158,7.209L810.614,708,813,710.4Z" transform="translate(-783 -708)"/>
</svg>
</div>


		<br> <br>
	<h6>Welcome</h6>
	<h4 >{{userName}}</h4>
	<p>Please update your address and payment details to complete the
		order</p>
	<p>
		Call us at<br> <span class="green-text">{{customerCareNumber}}</span> <br />
		to update and then click refresh
	</p>
	<button class="btn" ng-click="refresh()" left="video.videoView"
		tag="inActive" navigatable-with-keyboard tabindex="0">Refresh</button>
</div>
