<div class="popup-shadow">
	<div class="fastbuy-popup">
		<p>
			<span> Your Fast Transaction will be done using below
				mentioned Shipping and Billing Address. In case you want to change
				please go to web : www.liquidationchannel.com or call at
				{{customerCareNumber}} </span>
		</p>
		<div class="customer-address">
			<span>For Shipping Address </span><br>
			<address>{{shippingAddress}}</address>
			<br> <span>For Billing Address </span><br>
			<address>{{billingAddress}}</address>
			<br> <span>For Payment </span><br>
			<address>{{userName}} - {{defaultCard}} - Expires on -
				{{expireOn}}.</address>
		</div>

		<p>
			<span>If you want to Visit Terms and Conditions of Fast Buy,</span><br>
			<span>please check </span> Options > T&C <span> or call
				{{customerCareNumber}}</span>
		</p>
		<button class="btn btn-center" navigatable-with-keyboard  tag="popUp" tabindex="0"  ng-click="dialogClose('true')" type="button">OK</button>
	</div>
</div>