<div class="forget-screen forget-pin">
	<p>
		<svg class="pin-icon" xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 93 93" preserveAspectRatio="xMidYMid meet" width="93"
			height="93">
					  <path class="green-icon"
				d="M 20.925 44.175 L 27.435 37.665 L 41.85 52.08 L 81.84 12.09 L 88.35 18.6 L 41.85 65.1 L 20.925 44.175 Z M 46.5 9.3 C 26.04 9.3 9.3 26.04 9.3 46.5 C 9.3 66.96 26.04 83.7 46.5 83.7 C 66.96 83.7 83.7 66.96 83.7 46.5 L 93 46.5 C 93 72.075 72.075 93 46.5 93 C 20.925 93 0 72.075 0 46.5 C 0 20.925 20.925 0 46.5 0 C 52.545 0 58.59 1.395 64.17 3.255 L 56.73 10.695 C 53.475 9.765 50.22 9.3 46.5 9.3 Z" />
					</svg>
		<br> <br> Password reset instructions have been sent to your
		e-mail address. Please contact customer support at {{customerCareNumber}} if
		you require additional assistance.
	</p>
	<button type="button" class="btn" ng-click="switchPage()" tabindex="0"
		left="video.videoView" navigatable-with-keyboard tag="forget">LOGIN</button>
</div>