<div class="option-select">
	<section>
		<div navigatable-with-keyboard tag="popUp" tabindex="0">
			
		</div>
		<div class="popup-shadow">
		<div class="howtobuy">
		<h3><i class="icon-style">
						<svg class="menu-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 69 69"
							 preserveAspectRatio="xMidYMid meet">
							<path class="white-icon"
								  d="M1263.5,189a34.5,34.5,0,1,1,34.5-34.5A34.6,34.6,0,0,1,1263.5,189Zm0-62.1a27.6,27.6,0,1,0,27.6,27.6A27.681,27.681,0,0,0,1263.5,126.9Zm-3.45,24.15h6.9v20.7h-6.9v-20.7Zm0-13.8h6.9v6.9h-6.9v-6.9Z" transform="translate(-1229 -120)"/>
						</svg>
					</i> How to buy</h3>
		<ul class="howtobuy-content">
			<li>
				<span class="houwtobuysteps">Step 1 : </span> <span class="houwtobuydesc">Enter valid phone number, select Choice/Qty &amp; click order now.
			</li>
			<li>
				<span class="houwtobuysteps">Step 2 : </span> <span class="houwtobuydesc">Now you need to login to order product.
			</li>
			<li>
				<span class="houwtobuysteps">Step 3 : </span> <span class="houwtobuydesc">If you are not a signed up user call <span class="green-text">{{customerCareNumber}}</span> to setup your account.
			</li>
			<li>
				<span class="houwtobuysteps">Step 4 : </span> <span class="houwtobuydesc">For existing user : Confirm shipping/billing address, shipping method and click continue on address screen.
			</li>
			<li>
				<span class="houwtobuysteps">Step 5 : </span> <span class="houwtobuydesc">To edit quantity you can click on Item in bag on address screen and update.
			</li>
			<li>
				<span class="houwtobuysteps">Step 6 : </span> <span class="houwtobuydesc">Check total amount and price breakup and click continue on order screen.
			</li>
			<li>
				<span class="houwtobuysteps">Step 7 : </span> <span class="houwtobuydesc">Confirm card details &amp; click pay now button on payment screen.
			</li>	
			<li>
				<span class="houwtobuysteps">Step 8 : </span> <span class="houwtobuydesc">Order confirmation/failure screen is shown. The confirmation will be sent to your registered email id as well.
			</li>
		</ul>
		</div>
		</div>
	</section>
</div>