<p ng-show="showLoginMessage" class="login-message">You need to do
	Login or Sign up to complete this order</p>
<ul class="tab-menu" id="menu">
	<li><a href="javascript:void(0)" class="active"
		ng-class="loginStyle">LOG IN</a></li>
	<li><a href="javascript:void(0)" ng-class="registationStyle">SIGN
			UP</a></li>
</ul>


<div class="tab-content">
	<!-- <span class="customer-number">Call Customer Care<br> <span
		class="green-text">{{customerCareNumber}}</span></span> <span class="or-border">OR</span>
 -->
	<br /> <br />
	<form class="login-form" name="loginForm">
		<ul>
			<div class="{{alertErrorInput}}">
				<li class="form-field"><label class="form-label">Email
						or phone number*</label> <span class="hide">{{userNameError}}</span> <a
					href="javascript:void(0)" id="loginUserName"
					ng-click="opneKeyBoard()" navigatable-with-keyboard tabindex="0"
					tag="login" down="next" right="stateChange"
					state="home.registration" left="video.videoView" class="div-focus">

						<input class="form-input" type="text" ng-model="username"
						name="username" ng-change="saveUserName(username)" />
				</a></li>
			</div>
			<div class="{{passwordErrorInput}}">
				<li class="form-field"><label class="form-label">PIN</label> <span
					class="hide">{{passwordError}}</span> <a href="javascript:void(0)"
					navigatable-with-keyboard tag="login" ng-click="opneKeyBoard()"
					id="pin" right="stateChange" state="home.registration"
					left="video.videoView" down="next" up="prev" class="div-focus">
						<input class="form-input" type="password" ng-model="password"
						maxlength="4" ng-change="savePIN(password)" />
				</a></li>
			</div>
			<li class="form-field">
				<button type="button" class="btn" ng-click="checkLoginCred()"
					left="video.videoView" navigatable-with-keyboard tag="login"
					up="prev" right="next">login</button> <a href="javascript:void(0)"
				class="btn forget-btn" navigatable-with-keyboard tag="login"
				ng-click="forgetPassword()" up="login.pin" right="stateChange"
				state="home.registration" left="prev">FORGOT?</a>
			</li>
		</ul>
	</form>
</div>