
<div class="myprofile-pannel">
	<section>
		<h2>My Profile</h2>
		<div class="profile-content">
			<p>
				{{userName}} <br> {{userPhn}} <br> {{userEmail}}
			</p>
			<address>
				<span>Shipping Address</span>
				<address>{{shippingAddress}}</address>
			</address>
			<address>
				<span>Billing Address</span>
				<address>{{billingAddress}}</address>
			</address>
			<ul class="default-method">
				<li><span>Default Payment</span>
					<address>{{defaultCard}}</address></li>
				<li><span>Preferred Shipping Method</span>
					<address>{{shippingMethod.shippingMethodName}}</address></li>
			</ul>
			<ul class="account-amout">
				<li>FAST BUY <a id="fastbuy" href="" up="header.howtobuy"
					tag="profile" navigatable-with-keyboard tabIndex="0" class="switch"
					ng-click="toggleFastbuy()"> <input type="checkbox"
						ng-checked="isChecked">
						<div class="slider round"></div>
				</a>
				</li>
				<li><!--<img src="images/common/credit-icon.png" alt="STORE CREDIT">-->
					STORE CREDIT</li>
				<li><span class="subtotal">{{dollerCredit}}<span>{{centCredit}}</span></span></li>
			</ul>
			<p class="details">
				To update your account details, call our Customer Service on <br>
				<span class="green-text">{{customerCareNumber}}</span>
				<!-- or login in online at
				<span class="green-text">www.liquidationchannel.com </span> -->
			</p>
		</div>

	</section>
</div>