<header>
	<a href="javascript:void(0);" class="refresh" navigatable-with-keyboard
		tag="orderPaymentDetails" down="{{focusableIndexFromRefesh}}" ng-click="refreshCards()"> <i
		class="icon-style"> <svg class="menu-icon"
				xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29 29"
				preserveAspectRatio="xMidYMid meet">
                            <path id="ic_refresh.svg" class="white-icon"
					d="M1668.07,81.515a11.2,11.2,0,0,1,.37-4.386,10.85,10.85,0,0,1,10.22-7.958V66.2a0.212,0.212,0,0,1,.34-0.154l5.97,4.5a0.189,0.189,0,0,1,0,.3l-5.97,4.5a0.2,0.2,0,0,1-.33-0.154V72.218a7.815,7.815,0,0,0-7.07,4.912,8.038,8.038,0,0,0-.61,3.507,8.132,8.132,0,0,0,1.71,4.563,1.545,1.545,0,0,1-.29,2.184,1.472,1.472,0,0,1-2.06-.3A11.154,11.154,0,0,1,1668.07,81.515Zm17.25-5.715a8.034,8.034,0,0,1,1.7,4.563,8.3,8.3,0,0,1-.6,3.507,7.82,7.82,0,0,1-7.08,4.912V85.813a0.2,0.2,0,0,0-.33-0.154l-5.97,4.5a0.189,0.189,0,0,0,0,.3l5.96,4.5a0.211,0.211,0,0,0,.34-0.154V91.829a10.848,10.848,0,0,0,10.23-7.958,11.4,11.4,0,0,0,.36-4.386,11.053,11.053,0,0,0-2.27-5.573,1.485,1.485,0,0,0-2.07-.3A1.551,1.551,0,0,0,1685.32,75.8Z"
					transform="translate(-1668 -66)" />
                        </svg>
	</i> REFRESH
	</a>
	<ul class="tab-menu order-tab">
		<li><a href="javascript:void(0)" class="active"><span>1.</span>Address</a></li>
		<li><a href="javascript:void(0)" class="active"><span>2.</span>Order</a></li>
		<li><a href="javascript:void(0)" class="active"><span>3.</span>Payment</a></li>
	</ul>
</header>
<div class="tab-content">
	<div class="payment-type">
		<ul>
			<li>
				<ul class="head">
					<li class="card-name">Name on card</li>
					<li class="card-no">Your saved cards</li>
					<li class="card-expire">Expires on</li>
				</ul>
			</li>
			<li ng-repeat="card in cards" ng-click="selectedCard($index)">
				<ul class="payment-card">
					<li class="card-name"> 
						 <input type="radio" id="s-option" name="selector">
						<a class="selectedradio" href="javascript:void(0)" down="{{$index == cards.length-1 && 'footer.continue' || 'next'}}"
						navigatable-with-keyboard up="prev" tag="orderPaymentDetails" id="list{{$index}}">
							<div ng-class="{check: $index==selectedIndex}"></div>
						</a> {{card.name}}</li>
					<li class="card-no">{{card.token}}</li>
					<li class="card-expire">{{card.expires}}</li>
				</ul></li>
		</ul>
	</div>
	<p class="customer-number address-number">
		To add a new payment method </br> Call <span class="green-text">{{customerCareNumber}}</span>
		and click refresh
	</p>
</div>





