<div class="myprofile-pannel">
	<div class="programguide-header">
		<h2>Program Guide</h2>
		<ul class="program-guide-select">
			<li><span>DATE: <span class="program-guide-date">{{guideDate}}
						{{guideMonth}}, {{guideYear}}</span>
			</span></li>
		</ul>
	</div>
	<div class="program-guide">

		<ul class="program-guide-list">
			<li>
				<ul>
					<li class="time"><span>Timings</span></li>
					<li class="show"><span>Show</span></li>
				</ul>
			</li>
		</ul>
		<ul class="program-guide-list program-scroll">
			<li ng-repeat="show in shows" ng-style="{{show.current}}"><a
				href="javascript:void(0)" class="pg-focus"
				down="{{$index < shows.length-1 && 'next' || ''}}"
				navigatable-with-keyboard
				up="{{$index > 0 && 'prev'||'header.howtobuy'}}" tag="programGuide"
				tabindex="{{$index}}" id="list{{$index}}"
				ng-style="{{$index==0 && firstElement}}">
					<ul>
						<li class="time">{{show.startTime}} - {{show.endTime}}</li>
						<li class="show">{{show.name}}</li>
					</ul>
			</a></li>
		</ul>
	</div>

</div>