<a class="popup-shipping" tag="popups" navigatable-with-keyboard href=""
	tabindex="0" ng-click="dialogClose()"
	style="height: 100%; width: 100%; padding: 0"> <object
		id='av-player' style="height: 100%; width: 100%;"
		type='application/avplayer'></object>
	<div class="video-loader-fullscreen" ng-show=showVideo>
		<img alt="" class="loading" src="images/common/loading.gif"
			ng-show=isLoading> <img alt="" class="nostream" src="images/common/video_not_available.jpg" ng-show="isStreaming">
	</div>
</a>