/* Body Background */
body {
  font-size: $base-font-size;
  background-color:#fff;
  @include respond-to(full-high-definition) {
    font-size:$base-font-size-fhd;
  }
  @include respond-to(ultra-high-definition) {
    font-size:$base-font-size-uhd;
  }
}

.home-body {
  background: url(../images/common/body-bg.jpg) no-repeat left top;
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
}

h2{
  font-size: 2.5em;
  line-height: 1.1;
  font-weight: 400;
  color:$base-color;
  vertical-align: middle;
  border-bottom: 1px solid $base-color;
  padding-bottom: 0.5vw;
  span{
    color: $base-color;
    font-size: 0.6em;
    display: inline-block;
  }
  .icon-style {
	display: inline-block;
	margin-right: 15px;
	vertical-align: middle;
	position: relative;
	margin-bottom: 2vw;
	float: left;
	}
  img{
    margin: 0 2vw 0 0;
    float: left;
  }
}

    .visibility-hidden{
      visibility:hidden;
    }

/* Text overflow dots show */

.fade-text {
  position: relative;
  height: 3.6em; /* exactly three lines */
  &::after {
    content: "...";
    text-align: right;
    position: absolute;
    bottom: 5px;
    right: 0;
    width: 70%;
    height: 1.2em;
  }
}


/* Error Messages */

.error {
  display: none;
}

/* Icons */

.icon-style{
  display: inline-block;
  margin-right: 15px;
  vertical-align: middle;
}

.product-add-icon{
  display: inline-block;
  vertical-align: middle;
}

.profile-icon{
  display: inline-block;
  vertical-align: middle;
}

.white-icon{
  fill: #fff;
  fill-rule: evenodd;
}

.green-icon{
	fill: #69a342;
  fill-rule: evenodd;
}

.red-icon{
	fill: #ff5154;
  fill-rule: evenodd;
}


.light-sky{
  fill: #b9d7e8;
  fill-rule: evenodd;
}

.violet-icon {
  fill: $base-color;
  fill-rule: evenodd;
}

.block-icon-style{
  fill: #c20000;
  stroke: #7b99ae;
  stroke-width: 4px;
  fill-opacity: 0;
  fill-rule: evenodd;
}

.block-full-icon{
	position:relative;
}

.file-icon{
	width: 1.8vw;
	height: 2.3vw;
	margin-right: 25px;
	display: inline-block;
	vertical-align: middle;
}

.block-icon{
   width: 1.8vw;
   height: 1.8vw;
   position:absolute;
   right:-1vw;
   bottom:-1vw;
   background:red;
   border-radius:50%;
   padding:7px;
}

.tick-icon{
	width: 1.3vw;
	height: 1.3vw;
	position: absolute;
	right: 0.5vw;
	bottom: -0.5vw;
	background: green;
	border-radius: 50%;
	padding: 4px;
}

.bag-tick-icon{
	width: 1.4vw;
	height: 1.2vw;
	position: absolute;
	right: 0;
	bottom:0;
	top: 20%;
	left:0;
	margin:auto;
}

.bag-cross-icon{
	width: 1vw;
	height: 1vw;
	position: absolute;
	right: 0;
	bottom:0;
	top: 20%;
	left:0;
	margin:auto;
}

.block-circle-icon{
	background: $red-color;
	border-radius: 50%;
	width: 1.3vw;
	height: 1.3vw;
	padding: 1px;
	position: absolute;
	right: 0.8vw;
	bottom: 0vw;
}

.minus-sign-icon{
   width: 1.5vw;
	height: 0.2vw;
	position: relative;
	transform: translateY(-50%);
	top: 30%;
}
.plus-sign-icon{
    width: 1.5vw;
   height: 1.5vw;
	position: relative;
     top: 50%;
    transform: translateY(-50%);
}

.refresh-icon{
	width: 1vw;
	height: 1.1vw;
	vertical-align: middle;
	display: inline-block;
	margin-right: 5px;
}

.menu-icon {
  width: 1.5vw;
  height: 1.6vw;
}

.pin-icon{
	width: 4.2vw;
    height: 3.2vw;
}

.close-icon{
  width: 2vw;
  height: 2vw;
  vertical-align: middle;
}

.thankyou-bag-icon{
	width:3.02vw;
    height: 3.8vw;
}

.block-icon{
  width:4.47vw;
  height: 4.79vw;
}

.eligible-icon{
  width:3vw;
  height:3.3vw;
}
.item-bag{
  width: 3.177vw;
  height: 4vw;
}

.minus-icon{
  width:1.4vw;
  height:0.1vw
}

.item-in-bag-icon{
	width:3.4vw;
  height:3.4vw
}
.address-icon{
  width:3.8vw ;
  height: 3.64vw;
}

.location-icon{
	width:1.25vw;
	height:1.77vw;
}

.shipping-icon{
  width:2.8vw ;
  height: 2.64vw;
}

.billing-icon{
  	 width: 1.76vw;
	height: 1.86vw;
	margin-top: .4vw;
}

.method-icon{
  width:1.81vw;
  height: 2.02vw;
  margin-top: .4vw;
}

.order-history-icon,
.myprofile-icon,
.logout-icon{
  width:7.34vw;
  height:7.34vw;
}

.arrow-icon{
  width: 1vw;
  height: 1vw;
}

.headphone-icon{
	width:5.2vw;
	height:5vw;
}


/* text color */

.white-text {
  color: $primary-color;
}

.green-text {
  color: $secondary-color;
}

.red-text{
  color: $red-color;
}

.blue-text{
  color:$light-blue-color;
}

.pincode {
  font-size: 2.7rem;
}

/**FOCUS CODE END**/
.form-input, a, button, input, span {
  outline: none;
}

.div-focus {
  display: block;
  position: relative;
  border:1px solid rgba(0,0,0,0);
  text-decoration: none;
  &:focus {
    @extend .focus;
  }
}

.focus-bg{
	border-color: $focus-border;
  box-shadow: 0 0 20px rgba(245, 187, 68, 0.63);
  background: #dbc79e;
  color: $base-color;
}
.focus-border{
  border-color: $focus-border;
  box-shadow: 0 0 20px rgba(245, 187, 68, 0.63);
  color: $base-color;
  background: none;
}

.form-field .div-focus {
  @extend .div-focus;
  &:focus {
    @extend .focus-border;
    padding: 0;
    border-radius: 2.5px;
     @include respond-to(full-high-definition) {
      border-radius: 4px;
    }
    @include respond-to(ultra-high-definition) {
      border-radius: 8px;
    }
  }
}

.focus-event {
  position: absolute !important;
  display: block !important;
  text-indent: -999999px;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

/**button Styling**/

.btn {
  background-color:$base-color;
  color: $primary-color;
  font-size: 1em;
  line-height: 1.2;
  font-weight: 600;
  font-family: open sans, sans-serif;
  border-radius: 4px;
  display: inline-block;
  padding: 0.5vw 2.9vw;
  outline: none;
  text-transform: uppercase;
  border: 1px solid rgba(0, 0, 0, 0);
  @include respond-to(ultra-high-definition) {
    border-radius: 8px;
  }
  &:focus {
    @extend .focus;
    
  }
}

.activeButton{
	@extend .focus;
	font-size:1.4em;
	//background:url(../images/common/button-bg.png) repeat-x left 0px #2187af;
	letter-spacing: 1.5px;
}

.focus {
  border-color: $focus-border;
  box-shadow: 0 0 20px rgba(245, 187, 68, 0.63);
  background: #dbc79e;
  color: $base-color;
}

.btn-center{
	margin: 0 auto;
	width: auto;
	display: block;
	font-size:1.6em;
}


.grey-btn {
  background: #2f2f2f;
  border: 1px solid #6e6e6e !important;
}
	
.green-btn {
  background: #11a915;
}

.disable-green-btn {
  background: #153424;
  position:relative;
  &:focus{
  	.fastbuy-message{
  		display:block;
  	}
  }
}

/**label Styling**/

.label.checkedbox {
  float: left;
  width: 50%;
  span {
    color: $base-color;
  }
}

/** Form Styling */

.form-field {
  position: relative;
  padding-bottom: 1.5vw;
}

.form-label {
  display: block;
  font-size: 1.6em;
  line-height: 1.2;
  color:$base-color;
  padding-bottom: 0.5vw;
}

.div-focus{
  &:focus{
    .form-input {
      &::-webkit-input-placeholder {
    color: $base-color;
    opacity:1;
  }
  &::-moz-placeholder {
    color: $base-color;
    opacity:1;
  }
  &:-ms-input-placeholder {
    color: $base-color;
    opacity:1;
  }
    }
    }
 
  }

.form-input {
  background: transparent;
  width: 100%;
  border: 1px solid transparent;
  box-shadow: 0 0 5px rgba(206, 194, 211, 0.47);
  line-height: 1.3;
  font-size: 1.6em;
  color: $base-color;
  padding: 0.3vw 1.2vw;
  border-radius: 2.5px;
  @include respond-to(full-high-definition) {
    border-radius: 4px;
  }
  @include respond-to(ultra-high-definition) {
    border-radius: 8px;
  }
  &:focus {
    @extend .focus;
    background:#ffffff;
    
  }

  &::-webkit-input-placeholder {
    color: $base-color;
    opacity:0.15;
  }
  &::-moz-placeholder {
    color: $base-color;
    opacity:0.15;
  }
  &:-ms-input-placeholder {
    color: $base-color;
    opacity:0.15;
  }
}

.disable{
  border: 1px solid $disable-color;
  color: $disable-color;
  &:focus {
    @extend .focus;
  }
  &::-webkit-input-placeholder {
    color: $disable-color;
  }
  &::-moz-placeholder {
    color: $disable-color;
  }
  &:-ms-input-placeholder {
    color: $disable-color;
  }
}

.focus-event:focus ~ .form-input {
  @extend .focus;
}

.login-form{
	margin-top:1vw;
	.btn{
		width: 48%;
	}
	.forget-btn{
		width: 47%;
	}
}

.drop-down {
  background: transparent;
  width: 100%;
  border: 1px solid transparent;
  box-shadow: 0 0 5px rgba(206, 194, 211, 0.47);
  line-height: 1.3;
  font-size: 1.6em;
  color: $base-color;
  padding: 0.3vw 1.2vw;
  display: block;
  text-transform:uppercase;
  text-decoration: none;
  position: relative;
  margin: 0 0 1.5vw;
  border-radius: 2.5px;
     @include respond-to(full-high-definition) {
      border-radius: 4px;
    }
    @include respond-to(ultra-high-definition) {
      border-radius: 8px;
    }
  &:focus {
    @extend .focus-border;
  }
  &::after {
    content: "";
    border-bottom: 6px solid transparent;
    border-top: 6px solid $base-color;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    position: absolute;
    right: 20px;
    width: 1px;
    height: 10px;
    top: 50%;
    margin: auto;
    bottom: 0;
    @include respond-to(full-high-definition) {
      border-bottom: 10px solid transparent;
      border-top: 10px solid $base-color;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
    }
    @include respond-to(ultra-high-definition) {
      border-bottom: 20px solid transparent;
      border-top: 20px solid $base-color;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
    }
  }
}

/* Radio button */

input[type=radio] {
  position: absolute;
  visibility: hidden;
}
.selectedradio {
  display: block;
  position: absolute;
  border: 2px solid $border-color;
  background-color: $primary-color;
  box-shadow: 0 0 7px $border-color;
  border-radius: 100%;
  height: 2vw;
  width: 2vw;
  top: 0;
  bottom: 0;
  margin: auto 0;
  left: 1vw;
  z-index: 5;
  transition: border .25s linear;
  -webkit-transition: border .25s linear;
   &:focus{
  		@extend .focus;
  }
}

.check {
  background: $base-color;
  display: block;
  position: absolute;
  border-radius: 100%;
  height: 70%;
  width: 70%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;

}

/* Popup Styling */

.popup {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  z-index:99;
  vertical-align: middle;
}

.popup-bg {
  background: #1d0f28;
}
.popup-shadow {
  @extend .popup;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  .header-logo {
    position: absolute;
    left: 2%;
    top: 3%;
  }
}

.howtobuy.budget-pay-popup{
	width:70%;
	height:85%;
	p{
		font-size: 1.6em;
		color: $base-color;
		border-top: 1px solid #ece9ef;
		padding: 2vw 0;
	}
	.budgetpay-content{
		border-top: 1px solid #ece9ef;
		padding-top: 1.5vw;
		p{
		padding: 0;
		margin-bottom: 1.5vw;
		padding-top: 0.5vw;
		border: none;
		}
		h4{
		font-size: 1.6em;
		font-weight: 600;
		color: $base-color;
		}
		strong {
			font-family:$b-font-family;;
		}
	}
}

/* Section Division */

.divide-section {
  display: table;
  overflow: hidden;
  clear: both;
  width: 100%;
}

/* Product Show Home*/

.product-show {
  font-size: 1.5em;
  line-height: 1.2;
  .product-description {
    display: block;
    margin: 1vw 0;
  }
  .product-price{
    font-size: 0.85em;
    overflow: hidden;
  }
  .start-price {
    font-size: 1.28em;
    margin-bottom: 0.7vw;
    padding-bottom: 0.7vw;
    display: block;
    border-bottom:1px solid $border-color;
    &:last-child {
    font-size: 1.28em;
    color: $red-color;
    padding-bottom: 0;
    display: block;
    border-bottom:none;
    font-weight:700;
  
    }
  }
  .lc-price {
    font-size: 1.28em;
    display: block;
    span {
      font-size: 1.35em;
    }
  }
  .product-description {
    display: block;
    margin: 1vw 0;
    font-size: 1.1em;
    color: $base-color;
    overflow: hidden;
	height: 10vh;
  }
}

.product-img {
  float: left;
  margin-right: 25px;
  figcaption {
    background: #2b406c;
    color: $primary-color;
    padding: 0.5vw 1vw;
    text-align: center;
  }
  img {
    margin: 0 0 -8px;
    width: 80px !important;
    height: 84px !important;
    box-shadow: 0 0 5px rgba(206, 194, 211, 0.47);
    @include respond-to(full-high-definition) {
      width: 135px !important;
      height: 140px !important;
    }
    @include respond-to(ultra-high-definition) {
      width:270px !important;
      height: 280px !important;
    }

  }
}

/* Left pannel */
.left-panel {
  width: 67.7%;
  display: table-cell;
  padding: 4% 2.5%;
  overflow: hidden;
  vertical-align: top;
  .header-logo {
    width: auto;
    display: inline-block;
  }
}

.address-left-panel.left-panel{
  width: 46.5%;
}

.logo {
  background: url("../images/common/logo.png") no-repeat left top;
  background-size: contain;
  width: 102px;
  display: block;
  min-height: 60px;
  position: relative;
  top: -0.6vw;
  text-indent: -99999px;
  overflow: hidden;
  @include respond-to(full-high-definition) {
    width: 170px;
    min-height: 100px;
  }
  @include respond-to(ultra-high-definition) {
    width: 340px;
    min-height: 200px;
  }
}

.header-top-nav {
  width: auto;
  float: right;
  text-align: left;
  padding: 1vw 0;
  overflow: visible;
  clear: both;
  text-transform: uppercase;
  li {
    display: inline-block;
    padding: 0 1vw;
    float:left;
    position: relative;
    border-right: 1px solid rgba(191,190,195,.2);
    &:last-child {
      padding-right: 0;
      border-right:none;
    }

  }
  a {
    text-decoration: none;
    font-size: 1.6em;
    line-height: 1.2;
    vertical-align: middle;
    padding: 0.3vw 1.3vw;
    display: inline-block;
    position: relative;
    color: $base-color;
    border: 1px solid transparent;
    border-radius: 2.5px;
     @include respond-to(full-high-definition) {
      border-radius: 4px;
    }
    @include respond-to(ultra-high-definition) {
      border-radius: 8px;
    }
    .fa-info-circle,.fa-user{
    font-size:1.8em;
    color:$base-color;
    }
    &:focus {
      @extend .focus;
    }
  }
  img {
    max-width: 40px;
    vertical-align: middle;
    margin-right: 10px;
  }
  .login-disable {
    opacity: 0.7;
  }
}

.video-content {
  position: relative;
}

/* Right pannel */

.right-panel {
  //background: url("../images/common/right-bg.png") repeat left top;
  width: 32.3%;
  display: table-cell;
  overflow: hidden;
  padding: 4% 2.5%;
  vertical-align: top;
  height: 720px;
  @include respond-to(full-high-definition) {
    height: 1080px;
  }
  @include respond-to(ultra-high-definition) {
    height: 2160px;
  }
}

.address-right-panel.right-panel{
  width: 53.5%;
  background: none;
  .address-number {
	text-transform: none;
	}
}

.profile-right-panel{
	padding: 0 2.5%;
	width: 53.5%;
  background: none;
}

.login-message {
  font-size: 1.4em;
	line-height: 1.5;
	padding-bottom: 1vw;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 1vw;
	border-bottom: 1px solid #e7e2ec;
}

.tab-menu {
  clear: both;
  display: block;
  width: 100%;
  li {
    display: inline-block;
    padding-bottom: 1vw;
    margin-bottom: -4px;
    width: 50%;
    margin-right: -6px;
    &:last-child{
    	text-align:right;
    }
  }
  a {
    font-size: 2.3em;
    line-height: 1.2;
    border-bottom: 3px solid transparent;
    position: relative;
    text-decoration: none;
    color: $base-color;
    padding: 0 0 0.3vw;
    opacity:0.7;
	font-family: $l-font-family;
    }
    .active{
      border-bottom: 3px solid $tab-focus;
      opacity:1;
	  font-family: $base-font-family;
      &:after {
        content: "";
        position: absolute;
        border-top: 10px solid $tab-focus;
        border-bottom: 10px solid transparent;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
        margin: 0 auto;
        left: 0;
        right: 0;
        bottom: -22px;
        width: 1px;
      }
    }
}

.order-tab{
  padding-top: 2vw;
  li{
    width: 33.3%;
    &:nth-child(2){
    	text-align:center;
    }
  }
  a{
    display: block;
    font-size: 2.13em;
    margin-bottom: -0.75vw;
    color:$base-color;
    text-transform:uppercase;
    border-bottom: 1px solid $border-color;
    font-weight: 100;
    font-family: $l-font-family;
    span{
      color:$base-color;
    }
    &:focus{
      border-bottom: 1px solid $secondary-color;
      &:after{
        content:none;
      }
    }
    @include respond-to(full-high-definition) {
      margin-bottom: -0.9vw;
    }
    @include respond-to(ultra-high-definition) {
      margin-bottom: -0.9vw;
    }
  }
  .active{
    font-family: $base-font-family;
    color:$base-color;
    font-weight:400;
    border-bottom: 1px solid $secondary-color;
    &:after{
    	content:none;
    }
  }
}

.customer-number {
  display: block;
  line-height: 1.4;
  vertical-align: middle;
  font-size: 1.6em;
  line-height: 1.2;
  color: $base-color;
  text-transform:uppercase;
  margin: 3vw 0 1vw;
  text-align: center;
  span {
    font-size: 1.2em;
    font-weight:600;
  }
}

.or-border {
  font-size: 1.4em;
  line-height: 1.2;
  color: $base-color;
  padding: 0.5vw 0;
  display: block;
  text-align: center;
  overflow: hidden;
  position: relative;
  &:before, &:after {
    content: "";
    position: absolute;
    border-top: 1px solid $or-border;
    margin: auto;
    width: 40%;
    height: 1px;
    top: 0;
    bottom: 0;
    vertical-align: middle;
  }
  &:before {
    left: 0;
  }
  &:after {
    right: 0;
  }

}

/* fast Buy Message */

.fastbuy-message{
	background: #455471; /* Old browsers */
    background: -webkit-linear-gradient(#455471 0%, #27385a 18%, #1c2e52 26%, #17294e 32%, #17294e 100%);
    background: -moz-linear-gradient(#455471 0%, #27385a 18%, #1c2e52 26%, #17294e 32%, #17294e 100%);
    background: -o-linear-gradient(#455471 0%, #27385a 18%, #1c2e52 26%, #17294e 32%, #17294e 100%);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#455471), color-stop(0.18, #27385a), color-stop(0.26, #1c2e52), color-stop(0.32, #17294e), to(#17294e));
    background: linear-gradient(#455471 0%, #27385a 18%, #1c2e52 26%, #17294e 32%, #17294e 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#455471', endColorstr='#17294e',GradientType=0 ); /* IE6-9 */
   	border: 1px solid $fastbuy-message-border;
  	color: $primary-color;
  	font-size: 1.2em;
  	display:none;
  	font-weight:100;
  	line-height: 1.3;
  	padding: 1.5vw;
  	min-width: 163%;
  	width: 100%;
  	position: absolute;
  	right: 0;
  	bottom: 4.3vw;
  	text-transform: none;
    .bottom-arrow{
    	border-top: 15px solid $fastbuy-message-border;
  		border-bottom: 15px solid transparent;
  		border-left: 15px solid transparent;
  		border-right: 15px solid transparent;
  		position: absolute;
  		right: 24%;
  		bottom: -31px;
  		z-index: 5;
    	&:before {
  			border-top: 15px solid $fastbuy-message-outside-border;
  			border-bottom: 15px solid transparent;
  			border-left: 15px solid transparent;
  			border-right: 15px solid transparent;
  			position: absolute;
  			right: -15px;
  			bottom: -13px;
  			z-index: 5;
  			content: "";
		}
    }
}

/* option popup */

.option-select {
  @extend .popup-shadow;
  ul {
    overflow: visible;
    padding-bottom: 1vw;
    @extend .popup;
    width: 60%;
    height: 40%;
    text-align:center;
  }
  li {
    width: 29%;
    display: inline-block;
    padding: 0;
    margin:0 3%;
    &:first-child{
    	margin-left:0;
    }
    &:last-child{
    	margin-right:0;
    }
    a {
      display: block;
      @extend .popup-bg;
      text-align: center;
      padding: 15% 2%;
      font-size: 2em;
      line-height: 1.3;
      color: $primary-color;
      text-transform: uppercase;
      position: relative;
      display: block;
      text-decoration: none;
      outline: none;
      border: 1px solid transparent;
      &:focus {
        @extend .focus;
        .white-icon{
          fill: $base-color;
        }
      }
    }
	}
}

/* selected icon */

.selected {
    display: inline-block;
    width: 2.4vw;
    height: 2.3vw;
    background-color: #318b05;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    vertical-align: middle;
    right: 1.5vw;
    margin: auto;
    &:after {
        content: '';
  		display: block;
  		width: 22%;
  		border: solid #ffffff;
  		border-width: 0 4px 4px 0;
  		transform: rotate(45deg);
  		margin: auto;
  		position: absolute;
  		left: 0;
  		top: 0;
  		height: 60%;
  		right: 0;
  		bottom: 0;
  		margin-top: 7%;
    }
  }

/* Main Footer */
.footer-outer{
	width:100%; 
	position:relative;
}
footer {
  overflow: visible;
  clear: both;
}

ul.footer {
  //background: url("../images/common/footer-bg.png") repeat left top;
  background-color: rgba(255,255,255,0.85);
  box-shadow: 0 0 40px rgba(170, 163, 189, 0.25) inset, 0 0 40px rgba(170, 163, 189, 0.25);
  border-top: 1px solid #fff;
  padding: 0 2.5%;
  text-align: right;
  list-style: none;
  margin: 0;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  li {
    display: inline-block;
    font-size: 1.38em;
    line-height: 1.2;
    color: $base-color;
    text-transform: uppercase;
    padding: 3.7vh 1.4vw;
    vertical-align: middle;
    &:last-child {
      padding-right: 0;
    }
  }
  .footer-bag-item {
    float: left;
    font-size: 1.6em;
    line-height: 1.2;
    color: $primary-color;
    text-transform: uppercase;
    //border-right: 1px solid #2b313f;
    padding: 2vh 1.4vw 1vh 0;
    a{
      color: $base-color;
      border-radius: 2.5px;
	     @include respond-to(full-high-definition) {
	      border-radius: 4px;
	    }
	    @include respond-to(ultra-high-definition) {
	      border-radius: 8px;
	    }
    }
    .itembag-img {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      margin-right: 30px;
      .fa{
        color: $base-color;
        font-size: 2.3em;
      }
    }
  }
  a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: $primary-color;
    padding: 0.7vw;
    border: 2px solid transparent;
    &:focus {
      @extend .focus;
    }
  }
  .high-auction{
  	width: 40%;
	vertical-align: bottom;
	line-height: 1.2;
	font-size: 1.5em;
	text-align: left;
	text-transform: none;
	text-align: right;
	font-style: italic;
	float: right;

  	span{
  	font-size:1.3em;
  	}
  	strong{
  		font-weight: 600;
  	}
  }
}

.subtotal {
  color: $red-color;
  font-size: 2.3em;
  line-height: 1;
  margin-left: 1vw;
  span {
    font-size: 0.57em;
    line-height: 1;
    float: none;
  }
}

.total-area{
	display: inline-block;
	.include-text{
		font-size: 0.8em;
		text-transform: none;
	}
}

.cart-quantity {
  border-radius: 50%;
  display: inline-block;
  width: 1.8vw;
  height: 1.8vw;
  padding: 0;
  position: absolute;
  background: $cart-bg;
  color: $primary-color;
  font-size: 1em;
  font-weight: $semi-bold;
	text-align: center;
	line-height: 1.8vw;
	right: -0.5vw;
	top: 0.4vw;
}
.cart-quantity.empty{
	background: $nocart-bg;
}

/** FOOTER CODE END **/

.paymentsaved-cards li a:focus .selectedradio {
  box-shadow: 0 0 17px #50beda;
  border-color: $base-color;
}

/* ON OFF Button */

.switch {
  position: relative;
  display: inline-block;
  width: 5vw;
  vertical-align: middle;
	height: 2vw;
	margin-left: 25px;
}

.switch:focus .slider{
	border:2px solid #ffffff;
	box-shadow:0 0 14px #ffffff;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:  #47565B;
  border:2px solid rgba(0,0,0,0);
}

.slider:after{
	content: "OFF";
	padding-left: 10px;
	color: #FFFFFF;
	line-height: 2;
	font-size: 1.2rem;
	vertical-align: top;
}

input:checked + .slider:after{
	content: "ON";
	padding-left: 2.7vw;
	color: #FFFFFF;
	line-height: 2;
	font-size: 1.2rem;
	vertical-align: top;
	text-align: right;
}

.slider:before {
	position: absolute;
	content: "";
	height: 1.45vw;
	width: 1.4vw;
	right: 0.5vw;
	bottom: 0;
	top: 0;
	margin: auto 0;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
  background-color:#37c16f;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(8px);
  -ms-transform: translateX(8px);
  transform: translateX(8px);
  left:0 !important;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.alert{
	 label{
	   display: inline-block;
	 }
	 .hide{
	   float: right;
		color: $red-color;
		visibility: visible;
		font-size: 1.15em;
		font-style: italic;
		font-weight: 700;
	 }
	 a{
	 	clear: both;
	 }
	 .form-input{
	   border-color: $error-color;
	 }
}

.alert-choice{
	 .hide{
	   float: right;
		color: $red-color;
		visibility: visible;
		font-size: 1.15em;
		font-style: italic;
		font-weight: 700;
	 }
	 a{
		 clear: both;
	 	 border-color: $error-color;
	 	 &:focus{
		 border-color: $error-color;
		}
	 }
}



/*---refresh------*/
.refresh {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 2vw;
  font-size: 0.8em !important;
  &::before {
	content: "";
	position: absolute;
	left: -3vw;
	display: block;
	width: 1px;
	height: 100%;
	background: #e6e2eb;
	}
  a{
	color: $base-color;
	text-decoration: none;
	display: inline-block;
	margin-bottom: 1.5vh;
	border: 1px solid transparent;
	padding: 0.3vw 1.3vw;
	font-family: $base-font-family;
	border-radius: 2.5px;
     @include respond-to(full-high-definition) {
      border-radius: 4px;
    }
    @include respond-to(ultra-high-definition) {
      border-radius: 8px;
    }
  font-style: normal;
	&:focus{
		@extend .focus;
	}
}
	
}
.hide{
	visibility: hidden;
}
.img-default{
background-image: url('/images/common/no_image.jpg');
background-size: contain;
}

/* mixin for multiline */
@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white){
  overflow: hidden;
  position: relative;
  text-align: justify;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount; 
  margin-right: -1em;
  padding-right: 1em;
  &:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 0.9em;
	height: 0.4em;
	margin-top: 1.9em;
    background: $bgColor;
  }
}

.block-with-text {
  @include multiLineEllipsis($lineHeight: 1.2em, $lineCount: 3, $bgColor: white);  
}

.username{
	display: inline-block;
	vertical-align: middle;
	width: auto;
	max-width: 300px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.order-coupon .form-input.disable-input {
  background: #e2dfea;
  &::-webkit-input-placeholder {
    color: #b5b4b6;
    opacity:1;
  }
  &::-moz-placeholder {
    color: #b5b4b6;
    opacity:1;
  }
  &:-ms-input-placeholder {
    color: #b5b4b6;
    opacity:1;
  }
}
strong{
  font-weight: 600;
}
.video-loader{
	overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 98%;
  height: 97%;
  color: #fff;
  font-weight: 600;
  font-size: 3em;
  z-index:999;
  .nostream{
	width: 106%;  
  }
  .loading{
	margin-top: 25%;  
  }
}
.video-loader-fullscreen{
	overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
  height: 100%;
  color: #fff;
  font-weight: 600;
  font-size: 3em;
  z-index:999;
  .nostream{
	width: 106%;  
  }
  .loading{
	margin-top: 25%;  
  }
}

.custom-visa-outer{
	width: 100%;
  height: 100vw;
  background: rgba(0, 0, 0, 0.7);
}