@import 'variable';

/*
 * Base styles
 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: $base-color;
  font-size: $base-font-size;
  font-family: $base-font-family;
  line-height: $base-line-height;
  font-weight: normal;
  padding: 0;
  margin: 0;
  overflow: hidden;
}