/* All Text Color */
$base-color: #492565; //violet
$title-color: #a9a9a9;
$primary-color: #ffffff;
$secondary-color: #69a342; // green
$placeholder-color: #492565;
$forget-color:#69a342;
$call-color:#506472;
$product-color:#e6edfa;
$light-blue-color:#3ffff0;
$disable-color:#3c4455;
$red-color:#c20000;
$error-color: #c20000;



/* All background Color */
$popup-bg: #2d2d2d;
$focus-bg: rgba(0,0,0,0);
$primary-bg: #ffffff;
$button-bg: #492565;
$cart-bg: #318b05;
$address-list-border:#2a303c;
$nocart-bg: #414141;

/* Shadow Color */
$input-shadow: #cec2d2;
$focus-shadow: rgba(52,162,197,0.45);



/* border color */

$top-nav: #b3b0ba;
$focus-border:#f5bb44;
$border-color:#e6e2eb;
$tab-focus:#492565;
$or-border:#e8e3ed;
$popup-border:#ece9ef;
$input-border:#7b99ae;
$popup-input-border:#cecece;
$confirm-border:#535353;
$fastbuy-message-border:#2a3651;
$fastbuy-message-outside-border:#17294e;


/* All Font Family */
$base-font-family: 'Open Sans', sans-serif;
$bi-font-family: 'OpenSans-BoldItalic';
$i-font-family: 'OpenSans-Italic';
$sbi-font-family: 'OpenSans-SemiboldItalic';
$sb-font-family: 'OpenSans-Semibold';
$b-font-family: 'OpenSans-Bold';
$li-font-family: 'OpenSansLight-Italic';
$l-font-family: 'OpenSans-Light';


/* All Font size */
$base-font-size: 60%;
$base-font-size-fhd: 100%;
$base-font-size-uhd: 200%;
$fixed-font-size: 15px;

/* All Font Line Height */
$fixed-line-height: 1.2;
$base-line-height: 1.2;

/* All Font weight */
$thin: 100;
$light: 300;
$semi-bold: 600;
$bold: 700;
