/* Body Background */
body {
  font-size: $base-font-size;
  background-color:#1b2946;
  @include respond-to(full-high-definition) {
    font-size:$base-font-size-fhd;
  }
  @include respond-to(ultra-high-definition) {
    font-size:$base-font-size-uhd;
  }
}

.home-body {
  background: url(../images/common/body-bg.jpg) no-repeat left top;
  background-color: #1b2946;
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.thankyou-header
{
border-bottom: 1px solid $base-color;
h3{
	display: inline-block;
	font-size: 2.0834vw;
	line-height: 2.0834vw;
	position: static;
	width: 73%;
	vertical-align: top;
	color: #ffffff;
	text-align: left;
	margin:0;
	margin-bottom: 2.4%;
	span{
	display: inline-block;
	font-size: 1.5625vw;
	line-height: 1.83vw;
	color: #7b99ae;
	}
}
}

h2{
  display: inline-block;
  font-size: 2.5em;
  line-height: 1.1;
  font-weight: 100;
  color:$primary-color;
  vertical-align: middle;
  padding-bottom: 0.5vw;
  span{
    color: $base-color;
    font-size: 0.69em;
    display: inline-block;
  }
  img{
    margin: 0 2vw 0 0;
    float: left;
  }
}

/* Text overflow dots show */

.fade-text {
  position: relative;
  height: 3.6em; /* exactly three lines */
  &::after {
    content: "...";
    text-align: right;
    position: absolute;
    bottom: 5px;
    right: 0;
    width: 70%;
    height: 1.2em;
  }
}


/* Error Messages */

.error {
  display: none;
}

/* Icons */

.icon-style{
  display: inline-block;
  margin-right: 15px;
  vertical-align: middle;
  line-height: 0;
  position: relative;
}

.product-add-icon{
  display: inline-block;
  vertical-align: middle;
}

.profile-icon{
  display: inline-block;
  vertical-align: middle;
}

.white-icon{
  fill: #fff;
  fill-rule: evenodd;
}

.light-sky{
  fill: #b9d7e8;
  fill-rule: evenodd;
}
.blue-icon{
  fill: $light-blue-color;
  fill-rule: evenodd;
}

.green-icon {
  fill: #809db1;
  fill-rule: evenodd;
}
.red-icon{
  fill: #ff5154;
  fill-rule: evenodd;
}
.block-icon-style{
  fill: #c20000;
  stroke: #7b99ae;
  stroke-width: 4px;
  fill-opacity: 0;
  fill-rule: evenodd;
}

.menu-icon {
  width: 2.125vw;
  height: 2.125vw;
}

.pin-icon{
	width: 4.84vw;
  height: 4.84vw;
}

.close-icon{
  width: 0.83vw;
  height: 0.8vw;
}

.block-icon{
  width:4.47vw;
  height: 4.79vw;
}

.eligible-icon{
  width:81px;
  height:90px;
}
.item-bag{
  width: 3.177vw;
  height: 4vw;
}

.minus-icon{
  width:1.4vw;
  height:0.1vw
}

.address-icon{
  width:3.8vw ;
  height: 3.64vw;
}

.location-icon{
	width:1.25vw;
	height:1.77vw;
}

.shipping-icon{
  width:3.8vw ;
  height: 3.64vw;
}

.billing-icon{
  width:2.76vw ;
  height: 2.86vw;
}

.method-icon{
  width:2.81vw;
  height: 3.02vw;
}

.order-history-icon,
.myprofile-icon,
.logout-icon{
  width:7.34vw;
  height:7.34vw;
}

.arrow-icon{
  width:0.937vw;
  height:0.416vw;
}


/* text color */

.white-text {
  color: $primary-color;
}

.green-text {
  color: $secondary-color;
}

.red-text{
  color: $red-color;
}

.blue-text{
  color:$light-blue-color;
}

.pincode {
  font-size: 2.7rem;
}

/**FOCUS CODE END**/
.form-input, a, button, input, span {
  outline: none;
}

.div-focus {
  display: block;
  position: relative;
  border:3px solid rgba(0,0,0,0);
  text-decoration: none;
  &:focus {
    @extend .focus;
  }
}

.focus-bg{
	 background: -moz-linear-gradient(top, rgba(90, 200, 227, 0) 0%, rgba(81, 190, 219, 0.07) 20%, rgba(79, 188, 217, 0.09) 24%, rgba(40, 147, 181, 0.42) 79%, rgba(38, 145, 179, 0.44) 83%, rgba(31, 137, 172, 0.5) 99%, rgba(31, 137, 172, 0.46) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(90, 200, 227, 0) 0%, rgba(81, 190, 219, 0.07) 20%, rgba(79, 188, 217, 0.09) 24%, rgba(40, 147, 181, 0.42) 79%, rgba(38, 145, 179, 0.44) 83%, rgba(31, 137, 172, 0.5) 99%, rgba(31, 137, 172, 0.46) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(90, 200, 227, 0) 0%, rgba(81, 190, 219, 0.07) 20%, rgba(79, 188, 217, 0.09) 24%, rgba(40, 147, 181, 0.42) 79%, rgba(38, 145, 179, 0.44) 83%, rgba(31, 137, 172, 0.5) 99%, rgba(31, 137, 172, 0.46) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#005ac8e3', endColorstr='#751f89ac', GradientType=0); /* IE6-9*/
}

.form-field .div-focus {
  @extend .div-focus;
  &:focus {
    @extend .focus;
    padding: 0;
    border-radius: 0;
    .form-input{
    border-color: transparent;
    }
  }
}
/* .form-field .alert .div-focus:focus {
  border-color: red;
  box-shadow: 0 0 20px rgba(197, 52, 85, 0.94);
} */
.focus-event {
  position: absolute !important;
  display: block !important;
  text-indent: -999999px;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

/**button Styling**/

.btn {
background: rgba(62,160,185,1);
background: -moz-linear-gradient(top, rgba(62,160,185,1) 0%, rgba(17,111,143,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(62,160,185,1)), color-stop(100%, rgba(17,111,143,1)));
background: -webkit-linear-gradient(top, rgba(62,160,185,1) 0%, rgba(17,111,143,1) 100%);
background: -o-linear-gradient(top, rgba(62,160,185,1) 0%, rgba(17,111,143,1) 100%);
background: -ms-linear-gradient(top, rgba(62,160,185,1) 0%, rgba(17,111,143,1) 100%);
background: linear-gradient(to bottom, rgba(62,160,185,1) 0%, rgba(17,111,143,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ea0b9', endColorstr='#116f8f', GradientType=0 );
  color: $primary-color;
  border-radius: 34px;
  font: 1em ProximaNova;
  line-height: 1.2;
  font-weight: 600;
  color: $primary-color;
  display: inline-block;
  padding: 1vw 4.5vw;
  outline: none;
  text-transform: uppercase;
  border: 3px solid rgba(0, 0, 0, 0);
  border-bottom-color: #116f8f;
  border-top-color:#3ea0b9;
  &:focus {
    @extend .focus;
  }
  @include respond-to(ultra-high-definition) {
    border-radius: 68px;
  }
}

.activeButton{
	@extend .focus;
	font-size:1.4em;
	//background:url(../images/common/button-bg.png) repeat-x left 0px #2187af;
	letter-spacing: 1.5px;
}

.focus {
  box-shadow: 0 0 20px $focus-shadow;
  border-color: $focus-border;
}

.btn-center{
	margin: 0 auto;
	width: auto;
	display: block;
	font:1.4em ProximaNova;
}


.grey-btn {
  background: #2f2f2f;
  border: 1px solid #6e6e6e !important;
}
	
.green-btn {
  background: #11a915;
  border-color: rgba(0, 0, 0, 0);
}

.disable-green-btn {
  background: #0f3a22; 
  background: -moz-linear-gradient(top,  #0f3a22 0%, #193122 100%);
  background: -webkit-linear-gradient(top,  #0f3a22 0%,#193122 100%); 
  background: linear-gradient(to bottom,  #0f3a22 0%,#193122 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f3a22', endColorstr='#193122',GradientType=0 );
  position:relative;
  border-color: rgba(0, 0, 0, 0);
  border-bottom-color: #193122;
  color: #7a8780;
  &:focus{
  	.fastbuy-message{
  		display:block;
  	}
  }
}

/**label Styling**/

.label.checkedbox {
  float: left;
  width: 50%;
  span {
    color: #FFF;
  }
}

/** Form Styling */

.form-field {
  position: relative;
  padding-bottom: 1.5vw;
}

.form-label {
  display: block;
  font-size: 1.6em;
  line-height: 1.2;
  color: $primary-color;
  padding-bottom: 0.5vw;
}

.form-input {
  background: transparent;
  width: 100%;
  border: 2px solid $input-border;
  line-height: 1.7;
  font-size: 1.7em;
  color: $primary-color;
  padding: 0 1.2vw;
  font-family: $base-font-family;
  &:focus {
    @extend .focus;
  }
  &::-webkit-input-placeholder {
    color: $placeholder-color;
  }
  &::-moz-placeholder {
    color: $placeholder-color;
  }
  &:-ms-input-placeholder {
    color: $placeholder-color;
  }
}

.disable{
  border: 2px solid $disable-color;
  color: $disable-color;
  &:focus {
    @extend .focus;
  }
  &::-webkit-input-placeholder {
    color: $disable-color;
  }
  &::-moz-placeholder {
    color: $disable-color;
  }
  &:-ms-input-placeholder {
    color: $disable-color;
  }
}

.focus-event:focus ~ .form-input {
  @extend .focus;
}

.drop-down {
  background: transparent;
  width: 100%;
  border: 2px solid $input-border;
  line-height: 1.3;
  font-size: 2em;
  color: $product-color;
  padding: 0.3vw 1.2vw;
  display: block;
  text-decoration: none;
  position: relative;
  margin: 0 0 1.5vw;
  &:focus {
    @extend .focus;
  }
  &::after {
    content: "";
    border-bottom: 10px solid transparent;
    border-top: 10px solid #a9a9a9;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    left: 0;
    right: 0;
    width: 1px;
    height: 10px;
    margin: auto 0 auto 90%;
    bottom: 0;
  }
}

/* Radio button */

input[type=radio] {
  position: absolute;
  visibility: hidden;
}
.selectedradio {
  display: block;
  position: absolute;
  border: 2px solid #AAAAAA;
  border-radius: 100%;
  height: 2.3vw;
  width: 2.3vw;
  top: 0;
  bottom: 0;
  margin: auto 0;
  left: 1vw;
  z-index: 5;
  transition: border .25s linear;
  -webkit-transition: border .25s linear;
   &:focus{
  		@extend .focus;
  }
}

.check {
  background: #ffffff;
  display: block;
  position: absolute;
  border-radius: 100%;
  height: 70%;
  width: 70%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;

}

/* Popup Styling */

.popup {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  z-index:99;
  vertical-align: middle;
}

.popup-bg {
  background: #434343; /* Old browsers */
  background: -moz-linear-gradient(top, #434343 0%, #404040 21%, #323232 71%, #2d2d2d 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #434343 0%, #404040 21%, #323232 71%, #2d2d2d 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #434343 0%, #404040 21%, #323232 71%, #2d2d2d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#434343', endColorstr='#2d2d2d', GradientType=0); /* IE6-9 */
}

.popup-shadow {
  @extend .popup;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  .header-logo {
    position: absolute;
    left: 2%;
    top: 3%;
  }
}

/* Section Division */

.divide-section {
  display: table;
  overflow: hidden;
  clear: both;
  width: 100%;
}

/* Product Show Home*/

.product-show {
  font-size: 1.5em;
  line-height: 1.2;
  overflow: hidden;
  .product-details {
    overflow: hidden;
  }
  .product-description {
    display: block;
    margin: 1vw 0;
  }
  .start-price {
    font-size: 1.4em;
    margin-bottom: 0.7vw;
    display: block;
  }
  .lc-price {
    font-size: 1.4em;
    display: block;
    span {
      font-size: 1.35em;
    }
  }
  .product-description {
    display: block;
    margin: 1vw 0;
    font-size: 1.25em;
    color: $product-color;
    overflow: hidden;
	height: 10vh;
  }
}

.product-img {
  float: left;
  margin-right: 25px;
  figcaption {
    background: #2b406c;
    color: $primary-color;
    padding: 0.2vw 1vw;
    line-height: 1.23;
    text-align: center;
  }
  img {
    margin: 0 0 -8px;
    width: 80px;
    @include respond-to(full-high-definition) {
      width: 135px;
    }
    @include respond-to(ultra-high-definition) {
      width:300px;
    }

  }
}

/* Left pannel */
.left-panel {
  width: 72.5%;
  display: table-cell;
  padding: 3% 2.5%;
  overflow: hidden;
  vertical-align: top;
  .header-logo {
    width: auto;
    float: left;
  }
  header {
    overflow: hidden;
    padding-left: 2vw;
  }
}

.address-left-panel.left-panel{
  width: 46.5%;
}

.logo {
  background: url("../images/common/logo.png") no-repeat left top;
  width: 170px;
  display: block;
  min-height: 100px;
  text-indent: -99999px;
  overflow: hidden;
}

.header-top-nav {
  width: auto;
  float: right;
  text-align: right;
  padding: 1vw 0;
  li {
    display: inline-block;
    padding: 0 1vw;
    position: relative;
    &:last-child {
      padding-right: 0;
    }

  }
  a {
    text-decoration: none;
    font-size: 1.7em;
    line-height: 1.2;
    vertical-align: middle;
    padding: 0.3vw 1.3vw;
    display: block;
    position: relative;
    color: $primary-color;
    border: 2px solid transparent;
    text-transform: capitalize;
    &:first-child {
      text-transform: none;
    }
    &:focus {
      @extend .focus;
    }
  }
  img {
    max-width: 40px;
    vertical-align: middle;
    margin-right: 10px;
  }
  .login-disable {
    opacity: 0.7;
  }
}

.video-content {
  position: relative;
}

/* Right pannel */

.right-panel {
  background: url("../images/common/right-bg.png") repeat left top;
  width: 27.5%;
  display: table-cell;
  overflow: hidden;
  padding: 4% 2.5%;
  vertical-align: top;
  height: 720px;
  @include respond-to(full-high-definition) {
    height: 1080px;
  }
  @include respond-to(ultra-high-definition) {
    height: 2160px;
  }
}

.address-right-panel.right-panel{
  width: 53.5%;
  background: none;
}

.profile-right-panel{
	padding: 0 2.5%;
	width: 53.5%;
  background: none;
}

.login-message {
  font-size: 1.4em;
  line-height: 1.5;
  padding-bottom: 1.5vw;
  text-align: center;
  text-transform: uppercase;
}

.tab-menu {
  clear: both;
  display: block;
  width: 100%;
  border-bottom: 1px solid $input-border;
  li {
    display: inline-block;
    padding-bottom: 1vw;
    margin-bottom: -4px;
    width: 50%;
    margin-right: -6px;
    &:last-child{
    	text-align: right;
    }
  }
  a {
    font-size: 2.3em;
    line-height: 1.2;
    border-bottom: 3px solid transparent;
    position: relative;
    text-decoration: none;
    color: $primary-color;
    padding: 0 0 1vw;
    opacity:0.7;
    }
    .active{
      border-bottom: 3px solid $tab-focus;
      opacity:1;
      &:after {
        content: "";
        position: absolute;
        border-top: 10px solid $tab-focus;
        border-bottom: 10px solid transparent;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
        margin: 0 auto;
        left: 0;
        right: 0;
        bottom: -22px;
        width: 3px;
      }
    }
}

.order-tab{
  li{
    width: 33.3%;
  }
  a{
    display: block;
    font-size: 3.13em;
    margin-bottom: -0.75vw;
    color:$base-color;
    border-bottom: 1px solid transparent;
    font-weight: 100;
    span{
      color:$base-color;
    }
    &:focus{
      border-bottom: 1px solid $secondary-color;
      &:after{
        content:none;
      }
    }
    @include respond-to(full-high-definition) {
      margin-bottom: -0.9vw;
    }
    @include respond-to(ultra-high-definition) {
      margin-bottom: -0.9vw;
    }
  }
  .active{
    color:$primary-color;
    border-bottom: 1px solid $secondary-color;
    &:after{
    	content:none;
    }
  }
}

.customer-number {
  display: block;
  font-size: 1.9em;
  line-height: 1.2;
  color: $primary-color;
  margin: 3vw 0 1vw;
  font-weight: $semi-bold;
  text-align: center;
  span {
    font-size: 1.2em;
  }
}

.or-border {
  font-size: 1.4em;
  line-height: 1.2;
  color: $base-color;
  padding: 0.5vw 0;
  display: block;
  text-align: center;
  overflow: hidden;
  position: relative;
  &:before, &:after {
    content: "";
    position: absolute;
    border-top: 1px solid $or-border;
    margin: auto;
    width: 40%;
    height: 1px;
    top: 0;
    bottom: 0;
    vertical-align: middle;
  }
  &:before {
    left: 0;
  }
  &:after {
    right: 0;
  }

}

/* fast Buy Message */

.fastbuy-message{
	background: #455471; /* Old browsers */
    background: -webkit-linear-gradient(#455471 0%, #27385a 18%, #1c2e52 26%, #17294e 32%, #17294e 100%);
    background: -moz-linear-gradient(#455471 0%, #27385a 18%, #1c2e52 26%, #17294e 32%, #17294e 100%);
    background: -o-linear-gradient(#455471 0%, #27385a 18%, #1c2e52 26%, #17294e 32%, #17294e 100%);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#455471), color-stop(0.18, #27385a), color-stop(0.26, #1c2e52), color-stop(0.32, #17294e), to(#17294e));
    background: linear-gradient(#455471 0%, #27385a 18%, #1c2e52 26%, #17294e 32%, #17294e 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#455471', endColorstr='#17294e',GradientType=0 ); /* IE6-9 */
   	border: 1px solid $fastbuy-message-border;
  	color: $primary-color;
  	font-size: 1.2em;
  	display:none;
  	font-weight:100;
  	line-height: 1.3;
  	padding: 1.5vw;
  	min-width: 163%;
  	width: 100%;
  	position: absolute;
  	right: 0;
  	bottom: 4.3vw;
  	text-transform: none;
    .bottom-arrow{
    	border-top: 15px solid $fastbuy-message-border;
  		border-bottom: 15px solid transparent;
  		border-left: 15px solid transparent;
  		border-right: 15px solid transparent;
  		position: absolute;
  		right: 24%;
  		bottom: -31px;
  		z-index: 5;
    	&:before {
  			border-top: 15px solid $fastbuy-message-outside-border;
  			border-bottom: 15px solid transparent;
  			border-left: 15px solid transparent;
  			border-right: 15px solid transparent;
  			position: absolute;
  			right: -15px;
  			bottom: -13px;
  			z-index: 5;
  			content: "";
		}
    }
}

.option-header{
margin-top:2.7vw;
}

/* option popup */

.option-select {
  @extend .popup-shadow;
  ul {
    overflow: visible;
    padding-bottom: 1vw;
    @extend .popup;
    width: 75%;
    height: 40%;
    text-align:center;
  }
  li {
    width: 29%;
    display: inline-block;
    padding: 0;
    margin:0 3%;
    &:first-child{
    	margin-left:0;
    }
    &:last-child{
    	margin-right:0;
    }
    a {
      display: block;
      @extend .popup-bg;
      text-align: center;
      padding: 13% 2% 7%;
      font-size: 2em;
      line-height: 1.3;
      color: $primary-color;
      position: relative;
      display: block;
      text-decoration: none;
      outline: none;
      border: 5px solid transparent;
      background: #2d2d2d;

      &:focus {
        border-color: #090708;
        @extend .popup-bg;
        outline: 3px solid #ffffff;
      }
    }
	}
}

/* selected icon */

.selected {
    display: inline-block;
    width: 2.4vw;
    height: 2.3vw;
    background-color: #318b05;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    vertical-align: middle;
    right: 1.5vw;
    margin: auto;
    &:after {
        content: '';
  		display: block;
  		width: 22%;
  		border: solid #ffffff;
  		border-width: 0 4px 4px 0;
  		transform: rotate(45deg);
  		margin: auto;
  		position: absolute;
  		left: 0;
  		top: 0;
  		height: 60%;
  		right: 0;
  		bottom: 0;
  		margin-top: 7%;
    }
  }

/* Main Footer */
.footer-outer{
	width:100%; 
	position:relative;
}
footer {
  overflow: visible;
  clear: both;
}

ul.footer {
  background: url("../images/common/footer-bg.png") repeat left top;
  padding: 0 2.5%;
  text-align: right;
  list-style: none;
  margin: 0;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  li {
    display: inline-block;
    font-size: 1.38em;
    line-height: 1.2;
    color: $base-color;
    text-transform: uppercase;
    padding: 3.7vh 1.4vw;
    vertical-align: middle;
    &:last-child {
      padding-right: 0;
    }
  }
  .footer-bag-item {
    float: left;
    font-size: 2.1em;
    line-height: 1.2;
    color: $primary-color;
    text-transform: uppercase;
    border-right: 1px solid #2b313f;
    padding: 2vh 1.4vw 1vh 0;
    .itembag-img {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      margin-right: 30px;
    }
  }
  a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: $primary-color;
    padding: 0.7vw;
    border: 2px solid transparent;
    &:focus {
      @extend .focus;
    }
  }
}

.subtotal {
  color: $secondary-color;
  font-size: 3.2em;
  line-height: 1;
  margin-left: 1vw;
  vertical-align: middle;
  span {
    font-size: 0.57em;
    line-height: 1;
    float: none;
  }
}

.cart-quantity {
  border-radius: 50%;
  display: inline-block;
  width: 3vw;
  height: 3vw;
  padding: 0;
  position: absolute;
  background: $cart-bg;
  color: $primary-color;
  font-size: 1em;
  text-align: center;
  line-height: 3vw;
  right: -35px;
  top: 2px;
  font-weight: $semi-bold;
}
.cart-quantity.empty{
	background: $nocart-bg;
}

/** FOOTER CODE END **/

.paymentsaved-cards li a:focus .selectedradio {
  box-shadow: 0 0 17px #50beda;
  border-color: $base-color;
}

/* ON OFF Button */

.switch {
  position: relative;
  display: inline-block;
  width: 5vw;
  vertical-align: middle;
	height: 2vw;
	margin-left: 25px;
}

.switch:focus .slider{
	border:2px solid #ffffff;
	box-shadow:0 0 14px #ffffff;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:  #47565B;
  border:2px solid rgba(0,0,0,0);
}

.slider:after{
	content: "OFF";
	padding-left: 10px;
	color: #FFFFFF;
	line-height: 2;
	font-size: 1.2rem;
	vertical-align: top;
}

input:checked + .slider:after{
	content: "ON";
	padding-left: 2.7vw;
	color: #FFFFFF;
	line-height: 2;
	font-size: 1.2rem;
	vertical-align: top;
	text-align: right;
}

.slider:before {
	position: absolute;
	content: "";
	height: 1.45vw;
	width: 1.4vw;
	right: 0.5vw;
	bottom: 0;
	top: 0;
	margin: auto 0;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
  background-color:#37c16f;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(8px);
  -ms-transform: translateX(8px);
  transform: translateX(8px);
  left:0 !important;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.alert{
	 label{
	   display: inline-block;
	 }
	 .hide{
	   float: right;
	   color: $error-color;
	   visibility: visible;
	   font-size: 1.5em;
	 }
	 a{
	 	clear: both;
	 }
	 .form-input{
	   border-color: $error-color;
	 }
}

.alert-choice{
	 .hide{
	   float: right;
		color: $red-color;
		visibility: visible;
		font-size: 1.15em;
		font-style: italic;
		font-weight: 700;
	 }
	 a{
		 clear: both;
	 	 border-color: $error-color;
	 	 &:focus{
		 border-color: $error-color;
		}
	 }
}


/*---refresh------*/
.refresh {
	color: #fff;
	font-size: 1.7em;
	text-decoration: none;
	float: right;
	margin-bottom: 1.5vh;
	border: 2px solid transparent;
	padding: 0.3vw 1.3vw;
	font-family: $base-font-family;
	font-weight: 600;
  	font-style: normal;
	&:focus{
		@extend .focus;
	}
	
}
.hide{
	visibility: hidden;
}
.img-default{
background-image: url('/images/common/no_image.jpg');
background-size: contain;
}
/* mixin for multiline */
@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white){
  overflow: hidden;
  position: relative;
  text-align: justify;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount; 
  margin-right: -1em;
  padding-right: 1em;
  &:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 0.9em;
	height: 0.4em;
	margin-top: 1.9em;
    background: $bgColor;
  }
}

.block-with-text {
  @include multiLineEllipsis($lineHeight: 1.2em, $lineCount: 3, $bgColor: red);  
}

.username{
	display: inline-block;
	vertical-align: middle;
	width: auto;
	max-width: 300px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
  text-transform: capitalize;
}
.eligible-upper{
	position:relative;

.eligible-icon {
  width: 6vw;
  height: 6vw;
}
.tick {
  width: 1vw;
  height: 1vw;
  position: absolute;
  left: 50%;
  right: 0;
  margin-left: -0.5vw;
  bottom: 0.4vw;
  fill: #3c91c8;
}

}

.video-loader{
	overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
  height: 100%;
  color: #fff;
  font-weight: 600;
  font-size: 3em;
  z-index:999;
  .nostream{
	width: 108%;  
  }
  .loading{
	margin-top: 25%;  
  }
}
.video-loader-fullscreen{
	overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
  height: 100%;
  color: #fff;
  font-weight: 600;
  font-size: 3em;
  z-index:999;
  .nostream{
	width: 106%;  
  }
  .loading{
	margin-top: 25%;  
  }
}

